h1 {
  text-align: center;
  margin-top: 3rem;
  font-size: 3rem;
}
h3 {
  text-align: center;
  margin-top: 3rem;
  font-size: 2rem;
}
p {
  text-align: center;
  margin-top: 3rem;
  font-size: 2rem;
}

